.nav-link:hover {
    background-color: grey;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 20px;
    right: 5px;
    opacity: 40%;
    font-size: 95px;
}

.tede{
    width: 1px;
}

thead{
    text-align: center;
}